*{
margin:0; padding: 0;box-sizing:border-box;
}




body{background-image: url('homepagepik.JPG');
background-repeat: no-repeat;
background-size: cover;
}



.form-control {
	font-size: 40px;
	color: blue;
	margin: 2px;
}

.btntwo{
	font-size: 40px;
	color: red;
}